<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-sm-12">
        <div class="panel with-nav-tabs panel-info">
          <div class="panel-body">
            <div class="tab-content">
              <div id="login" class="tab-pane fade in active register">
                <div class="container-fluid">
                  <div class="row">
                    <h2 class="text-center login-title"> <strong> Login  </strong></h2>
                    <hr />

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input type="text" placeholder="User Email" name="email" class="form-control" ngModel required email #email="ngModel">
                          </div>
                          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <span class="glyphicon glyphicon-lock"></span>
                            </div>

                            <input type="password" placeholder="Password" name="password" class="form-control" ngModel required #password="ngModel">
                          </div>
                          <span class="help-block"  *ngIf="!password.valid && password.touched">Please provide a password</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                      </div>

                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <a href="#forgot" data-toggle="modal"> Forgot Password? </a>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" class="btn btn-info btn-block btn-lg" [disabled]="!loginForm.valid"> Login </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


  <div class="modal fade" id="forgot">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss='modal' aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title" style="font-size: 32px; padding: 12px;"> Recover Your Password </h4>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon iga2">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Enter Your E-Mai" name="email">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success"> Submit <span class="glyphicon glyphicon-saved"></span></button>

            <button type="button" data-dismiss="modal" class="btn btn-lg btn-default"> Cancel <span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>